img{
    width: 300px;
    border: 15px solid green;
    padding:50px ;
    margin: 20px;

}

h1 {
    color: blue;

}
p{
    color: red;
}
em{

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}
a{
    background-color: gray;
    padding: 8px;

}



 .card{
     box-shadow: 10px 5px 1px;

 }
 
 main{
     display: flex;
 }